<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Intro</a></h1>
    </li> 
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <%= render_navigation all_sub_menues: true %>

<!--    
  <ul class="left">
      <li class="has-dropdown">
        <a href="#">Aktuelles</a>
        <ul class="dropdown">
          <li><a href="#">An dieser Schule macht das Lernen Spaß</a></li>
          <li><a href="#">Aus Liebe zur Verantwortung</a></li>          
        </ul>
      </li>      
      <li class=""><a href="#">Termine</a></li>
      <li class=""><a href="#">Schulleben</a></li>      
    </ul>
    -->
  </section>
</nav>
