<div class="row">
  <div class="large-2 columns">
    <p class="panel">
      <%= render_elements from_page: 'left_sidebar' %>
    </p>
  </div>
  <div class="large-8 columns">
    <%= render_elements %>    
  </div>
  <div class="large-2 columns">
    <p class="panel">
      <%= render_elements from_page: 'right_sidebar' %>      
    </p>
  </div>
</div>

